<div class="user-login-page {{ role_login }}">

  <div class="sign-in-content">
    <div class="title">
      <div class="sign-in-vector">
      </div>
      <div class="sign-in-vector">
      </div>
      <div><h3>{{ "Sign in"|t }}</h3></div>
      <div><p>{{ "サインインを行います。"|t }}</p></div>
    </div>


    <div class="sign-in-form">
      <div class="form-content">
        <div class="form-title">
          {{ "アカウント情報を入力してサインインしてください"|t }}
        </div>
        {{ page.content }}
        <div class="other-action">
          <p>{{ "パスワードを忘れた方は"|t }}<a href="{{ path('user.pass') }}" class="forget-pass">{{ "こちら"|t }}</a></p>
          {% if role_login == 'customer-login' %}
            <p>{{ "会員登録がまだの方は"|t }}
              <a href="{{ path('nttcom_user.verification_mail_exist_form') }}" class="forget-pass">{{ "こちら"|t }}</a>
            </p>
          {% elseif role_login == 'guide-login' %}
            <p>{{ "会員登録がまだの方は"|t }}
              <a href="/user/form-register-by-guide" class="forget-pass">{{ "こちら"|t }}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
