<div class="user-login-page {{ role_login }}">

  {% if page.header %}
    <div class="header d-flex align-items-center">
      <nav class="navbar navbar-expand-lg w-100">
        {{ page.header }}
      </nav>
    </div>
  {% endif %}

    <div class="login-box col-12 justify-content-center">
      <div class="col-6 mx-auto">
        <div class="login-body">
            <div class="d-flex justify-content-center my-4 login-title">
                {% if role_login == 'customer-login' %}
                    {{ "Login For Guest" }}
                {% elseif role_login == 'guide-login' %}
                    {{ "Login For Guide" }}
                {% else %}
                    {{ "Login For Office" }}
                {% endif %}
            </div>
          {{ page.content }}
          <div class="d-flex flex-column">
            <a href="{{ path('user.pass') }}" class="forget-pass d-flex justify-content-center">Forgot password?</a>
            <a href="/user/form-register-by-guide" class="forget-pass d-flex justify-content-center">Register by Guide</a>
            <a href="{{ path('nttcom_user.verification_mail_exist_form') }}" class="forget-pass d-flex justify-content-center">Register by Guest</a>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            {{ page.page_bottom }}
        </div>
    </footer>
</div>
