<div class="carousel-custom">
  <h3 class="title">{{ content['#title']['#markup'] }}</h3>
  <div class="owl-carousel owl-theme">
    {% for spot in content['#view'].result %}
      <div class="item">
        <div class="card-title">
          <div class="body-image">
            <a href="{{ path('entity.node.canonical', {'node': spot._entity.id}) }}">
              {% if spot._entity.field_image.entity.uri.value %}
                <img class="w-100" src="{{ file_url(spot._entity.field_image.entity.uri.value) }}"/>
              {% else %}
                <img class="w-100" src="/themes/custom/nttcom/images/default-spot.png"/>
              {% endif %}
            </a>
          </div>
          <div class="body-content">
            <a href="{{ path('entity.node.canonical', {'node': spot._entity.id}) }}"><span class="title-content">{{ spot._entity.title.value }}</span></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
