<li class="logo">
  {#      <a class="nav-link active px-0 text-white" href="/{{ language }}">#}
  {#        <img src="{{ content['site_logo']['#uri'] }}"/>#}
  {#      </a>#}
  <a class="navbar-brand text-white d-flex align-items-center" href="{{ path('<front>') }}">
    <img width="36" height="36"  src="{{ '/' ~ directory ~'/images/icons/icon_logo.svg' }}">
    <span class="ml-2">{{ 'Gold-Guide' }}</span>
  </a>
</li>
