<div class="information">
  <div class="row position-relative">
    <div class="col-12 col-md-6">
      <div class="carousel-custom">
        <div class="owl-carousel owl-theme owl-carousel-custom">
          {% for spot in 1..10 %}
            <div class="item">
              <div class="card-title m-0">
                <div class="body-image">
                  {% if content.user_picture.entity.fileuri %}
                    <img class="w-100" src="{{ file_url(content.user_picture.entity.fileuri) }}"
                         onerror="this.onerror=null;this.src='/{{ directory ~'/images/default-guide.png' }}';"
                         alt="{{ content.field_first_name }} {{ content.field_last_name }}"/>
                  {% else %}
                    <img class="w-100" src="/{{ directory ~'/images/default-guide.png' }}"
                         alt="{{ content.field_first_name }} {{ content.field_last_name }}"/>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 information-right">
      <div class="d-flex flex-column h-100">
        <h3 class="name">{{ content.field_first_name }} {{ content.field_last_name }} <img
            src="/{{ directory ~'/images/icons/icon_medal.svg' }}"
            alt="{{ content.field_first_name }} {{ content.field_last_name }}"/></h3>
        <div class="row location-language">
          <div class="col-12 col-md-6 d-flex">
            <img width="18" height="18" class="mr-2" src="/{{ directory ~'/images/icons/icon_browser_one.svg' }}"/>
            <span class="text-custom">{{ content.field_language }}</span>
          </div>
          <div class="col-12 col-md-6 d-flex">
            <img class="mr-2" width="18" height="23" src="/{{ directory ~'/images/icons/icon_location.svg' }}"/>
            <span class="text-custom">{{ 'Osaka,Kyoto,Kobe'|t }}</span>
          </div>
        </div>

        <div class="row comment-rating">
          <div class="col-12 col-md-6 d-flex">
            <img width="24" height="20" class="mr-2" src="/{{ directory ~'/images/icons/icon-information.svg' }}" />
            <span class="text-custom">National Gavorment Guide Interpreter</span>
          </div>
          <div class="col-12 col-md-6 comment-rating-right">
            <div class="row">
              <div class="col-auto pl-custom">
                <img width="24" height="20" class="mr-2" src="/{{ directory ~'/images/icons/icon_message.svg' }}" />
                <span class="text-custom">20</span>
              </div>
              <div class="col-auto">
                <img width="24" height="20" class="mr-2" src="/{{ directory ~'/images/icons/icon_star.svg' }}" />
                <span class="text-custom">4.3(954)</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row tags">
          {% if content.field_tags is defined and content.field_tags is not null %}
            <div class="col-auto pl-custom">
{#              <div class="tag">{{ content.field_tags }}</div>#}
              <a href="#" class="tag">歴史</a>
            </div>
            <div class="col-auto">
              <a href="#" class="tag">歴史</a>
            </div>
            <div class="col-auto">
              <a href="#" class="tag">歴史</a>
            </div>
          {% endif %}
        </div>

        <div class="price">
          <span
            class="d-flex align-items-center justify-content-center">{{ 'price'|t }} <strong>{{ content.field_price }}円／時間</strong></span>
        </div>
        <div class="desc">
          <p>
            {{ content.field_intro }}
          </p>
        </div>

        <div class="text-center mt-auto button-book">
          <button class="button book">メッセージを送る</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="content-guide">
  <h2>{{ 'ガイド内容'|t }}</h2>
  <p>This tour covers my favorite places in Tokyo.You can choose three places from the list of more than 30 places in
    Tokyo, classified as Temple&Shrine, Garden, Shopping, Observatory, Museum, Experience, and Others.</p>
  <div class="list-content-guide">
    <div class="owl-carousel owl-theme owl-carousel-custom-three">
      {% for spot in 1..10 %}
        <div class="item">
          <div class="card-title m-0">
            <div class="body-image">
              <a href="#">
                {% if spot._entity.field_image.entity.uri.value %}
                  <img class="w-100" src="{{ file_url(spot._entity.field_image.entity.uri.value) }}"
                       onerror="this.onerror=null;this.src='/{{ directory ~'/images/default-guide-content.png' }}';"/>
                {% else %}
                  <img class="w-100" src="/{{ directory ~'/images/default-guide-content.png' }}"/>
                {% endif %}
              </a>
            </div>
            <div class="body-text">
              <span>プラン4</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="content-guide content-spot">
  <h2>{{ '対応スポット'|t }}</h2>
  <div class="list-content-guide">
    <div class="owl-carousel owl-theme owl-carousel-custom-two">
      {% for spot in 1..10 %}
        <div class="item">
          <div class="card-title m-0">
            <div class="body-image">
              <a href="#">
                {% if spot._entity.field_image.entity.uri.value %}
                  <img class="w-100" src="{{ file_url(spot._entity.field_image.entity.uri.value) }}"
                       onerror="this.onerror=null;this.src='/{{ directory ~'/images/default-spot-guide.png' }}';"/>
                {% else %}
                  <img class="w-100" src="/{{ directory ~'/images/default-spot-guide.png' }}"/>
                {% endif %}
              </a>
            </div>
            <div class="body-text">
              <span>プラン4</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="video-introduce">
  <h2>{{ '紹介動画'|t }}</h2>
  <div class="text-center">
    <img src="/{{ directory ~'/images/default-guide-video.png' }}"/>
  </div>
</div>

<div class="review">
  <h2>{{ 'レビュー'|t }}</h2>
  <div class="list-review">
    <div class="owl-carousel owl-theme owl-carousel-custom-two">
      {% for spot in 1..10 %}
        <div class="item">
          <div class="card-title m-0">
            <div class="body">
              <span class="date">2022/12/12</span>
              <h6>T.Y</h6>
              <div class="rating d-flex">
                  <span>
                    <img width="21" height="21" src="/{{ directory ~'/images/icons/icon_star.svg' }}" />
                  </span>
                <span>
                    <img width="21" height="21" src="/{{ directory ~'/images/icons/icon_star.svg' }}" />
                  </span>
                <span>
                    <img width="21" height="21" src="/{{ directory ~'/images/icons/icon_star.svg' }}" />
                  </span>
                <span>
                    <img width="21" height="21" src="/{{ directory ~'/images/icons/icon_star.svg' }}" />
                  </span>
                <span>
                    <img width="21" height="21" src="/{{ directory ~'/images/icons/icon_star.svg' }}" />
                  </span>
              </div>
              <p class="mb-0">Yuki is a lifetime local who can help establish familiarity with Tokyo from a Japanese
                perspective.
                English is very good. At times he did wander very far ahead of us, and we were afraid he wouldn't wait
                for us.</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="calendar">
  <h2>空き状況</h2>
</div>

